doctype html
html(lang='pl')
  head
    meta(charset='UTF-8')
    title Czarka
    link(rel='stylesheet', href='css/index.css')
  body
    .content
      .message
        h1 Strona w przebudowie zapraszamy wkrótce
        img(src='img/logo2.png', alt='')
        img(src='img/logo2.png', alt='')
        img(src='img/logo2.png', alt='')
        img(src='img/logo2.png', alt='')