doctype html
html(lang='pl')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Rezerwacje
    link(href='https://fonts.googleapis.com/css?family=Lato&subset=latin-ext', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Mali&subset=latin-ext', rel='stylesheet')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.3.1/css/all.css', integrity='sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU', crossorigin='anonymous')
    // <link href="Datedropper3-master/datedropper.css" rel="stylesheet" type="text/css" />
    link(href='Datedropper3-master/datedropper.min.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/reservation.css')
    // <link rel="stylesheet" type="text/css" href="timedropper-master/timedropper.css">
    link(rel='stylesheet', type='text/css', href='timedropper-master/timedropper.min.css')
  body
    header
      h1
        | Sprawdź dostępność stolika w interesującym Cię terminie na poniższym schemacie i zarezerwuj miejsce dzwoniąc pod numer 12 422 93 82
      br
      h2
        | Podczas rezerwacji prosimy o podanie dokładnej daty, nazwiska, liczby osób dla których planowana jest rezerwacja oraz, opcjonalnie, wybranego stolika
      .dateWrapper
        i.far.fa-calendar-alt
        input#date(type='text', data-large-mode='true', data-fx='true', data-min-year='2018', data-max-year='2019', data-lang='pl', data-lock='from')
        i.far.fa-clock
        input#time(type='text')
    .room
      .table.japanese(data-description='stolik dla 2-4 osób z siedzeniami na podłodze')
        .name Japoński
      .table.smallIndian(data-description='stolik dla 2-3 osób z siedzeniami na podłodze')
        .name Mały indyjski
      .table.bigIndian(data-description='stolik dla 3-8 osób z siedzeniami na podłodze')
        .name Duży indyjski
      .table.rightChinese(data-description='stolik dla 2-5 osób')
        .name Prawy chiński
      .table.base(data-description='stolik dla 1-2 osób')
        .name Szachowy
      .table.rightRattan(data-description='stolik dla 2-3 osób')
        .name Prawy rattan
      .table.leftChinese(data-description='stolik dla 2-6 osób')
        .name Lewy chiński
      .table.board(data-description='stolik dla 2-5 osób')
        .name Frontalny
      .table.leftRattan(data-description='stolik dla 2-4 osób')
        .name Lewy rattan
    
    .dateFromBase #{dateFromBase}

      
    script(src='https://code.jquery.com/jquery-3.3.1.js', integrity='sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=', crossorigin='anonymous')
    // <script src="Datedropper3-master/datedropper.js"></script>
    script(src='Datedropper3-master/datedropper.min.js')
    script(src='timedropper-master/timedropper.js')
    script(src='js/reservation.js')
